:root{
    --blue : #325288;
    --wheat : #f4eee8;
    --genhu : #f5cebe;
    --greeny : #114e60;
}


.form{
    width: 90%;
    max-width: 1080px;
    margin:1em auto;
    text-align: center;
    background-color: var(--genhu);
    padding: 1em;
}

.field{
    width: 100%;
    margin:auto;
    height: 70px;
}

.input{
    width: 100%;
    max-width: 600px;
    margin:0.5em auto 0 auto;
    padding: 0.8em;
    border: none;
    border-radius: 0.25em;
    border: 3px solid  var(--blue);
    font-size: 1rem;
}

.input:active{
    outline: none;
}



.errmsg{
    color: red;
    margin-left: 0;
}